<app-navbar></app-navbar>
<app-banner backgroundImg="assets/images/usage/header_usage_light.jpg" bannerTitle="Usage"></app-banner>
<div class="main-container">
    <div class="left">
        <div class="sec-1">
            <div class="para-header-1">Different Types of Water</div>
            <div>Electrolysis is the process that separates water into alkaline and acidic water. The pH level decides which water type that's being produced.</div>
            <div class="learnmore">Learn more about each water type:</div>
            <div><a href="usage#strongkangen" style="color: #5A41B3;">&#187; Strong Kangen Water</a></div>
            <div><a href="usage#kangen" style="color: #8363E2;">&#187; Kangen Water®</a></div>
            <div><a href="usage#clean" style="color: #66B000;">&#187; Clean Water</a></div>
            <div><a href="usage#acidic" style="color: #FFC530;">&#187; Acidic Water</a></div>
            <div><a href="usage#strongacidic" style="color: #F19B00;">&#187; Strong Acidic Water</a></div>
        </div>
        <div class="type-sec" id="strongkangen">
            <div style="background: #D6D5DE; color: #5A41B3" class="header para-header-2">
                <div>Strong Kangen Water</div>
                <div>pH: 11.0 and up</div>
            </div>
            <div class="image-area">
                <img class="image" src="assets/images/usage/usage_strongkangen.jpg">
                <div class="text para">
                    Strong Kangen Water preserves hygiene in your daily life due to its strong cleaning effect. It has dissolving and heat conducting benefits.
                </div>
            </div>
            <div class="spec-container">
                <div class="left">Food preparation</div>
                <div class="right para">
                    Clean vegetables and fish. Enhance the flavor of broccoli, onions, bamboo etc. by pre-boiling them in Strong Kangen water.
                </div>
            </div>
            <div class="spec-container">
                <div class="left">Cleaning</div>
                <div class="right para">
                    Clean cutting boards and dishcloths. Good for cleaning oil and tough grime from vents, as well as for general cleaning in the kitchen.
                </div>
            </div>
            <div class="spec-container">
                <div class="left">Stain Removal</div>
                <div class="right para">
                    The extra strength will remove coffee, soy sauce and oil stains. Also great for getting out stubborn toilet bowl stains.
                </div>
            </div>
            <div class="spec-container">
                <div class="left">Dishes</div>
                <div class="right para">
                    Use less detergent when washing your dishes. Save on water bills, as only one-third to one-fourth of the usual amount of water is adequate for rinsing of detergent.
                </div>
            </div>
        </div>
        <div class="type-sec" id="kangen">
            <div style="background: #EAE4F6; color: #8363E2;" class="header para-header-2">
                <div>Kangen Water®</div>
                <div>pH: 8.5 - 9.5</div>
            </div>
            <div class="image-area">
                <img class="image" src="assets/images/usage/usage_kangen.jpg">
                <div class="text para">
                    With a pH of 8.5-9.5, this type of water is perfect for drinking and healthy cooking. It works to restore your body to a more alkaline state, which optimizes health.
                </div>
            </div>
            <div class="spec-container">
                <div class="left">Drinking</div>
                <div class="right para">
                    Drink 2-3 cups of water first thing in the morning. Compared to tap water, Kangen Water® has no unpleasant odor, tastes lighter, and has a pleasantly sweet flavor. It is important to include vegetables in your diet, when eating substantial amounts of acidic foods such as egg yolk, white rice, chicken, pork and beef, drinking alkaline Kangen Water® is equally important because it balances the acidic and alkaline effects of these foods.
                </div>
            </div>
            <div class="spec-container">
                <div class="left">Food preparation</div>
                <div class="right para">
                    Use Kangen Water® to remove harsh taste of onions, bamboo shoots or the like. Leave liver and other meats which have a bad odor to soak in Kangen Water® for 20-30 minutes to reduce strong smells.
                </div>
            </div>
            <div class="spec-container">
                <div class="left">Rice</div>
                <div class="right para">
                    Use it for washing and cooking, the result is delicious and fluffy rice.
                </div>
            </div>
            <div class="spec-container">
                <div class="left">Coffee and tea</div>
                <div class="right para">
                    For which taste and aroma are everything, you will be surprised at the improved color, taste, and aroma. And you can use less coffee or tea and still achieve a full rich taste due to the water's extractable ability.
                </div>
            </div>
            <div class="spec-container">
                <div class="left">Soups and stews</div>
                <div class="right para">
                    Kangen Water® draws out the flavor of ingredients so they get tender and juicy. Therefore, less seasoning such as salt and soy sauce are needed, so this water is good for people that want to reduce their salt intake.
                </div>
            </div>
            <div class="spec-container">
                <div class="left">Plants</div>
                <div class="right para">
                    Use to water plants and flowers. Kangen Water® for the freshness and life of plants.
                </div>
            </div>
            <div class="spec-container">
                <div class="left">Animals</div>
                <div class="right para">
                    Enagic® Water gives you a wonderful, all-natural alternative to pet products. Make your own pet shampoo with Beauty Water, Kangen Water®, or Neutral Water, depending on the ideal pH level of your pet's fur. Ask your veterinarian for advice on choosing the right water for your furry friend.
                </div>
            </div>
            <div class="spec-container">
                <div class="left">Crafts</div>
                <div class="right para">
                    Excellent for dyeing cloths, as well as other craft projects. You will love the vibrant colors obtained when using this water.
                </div>
            </div>
            <div class="spec-container">
                <div class="left">Hydration</div>
                <div class="right para">
                    Kangen Water® gives you optimal hydration. Staying hydrated is crucial to living a healthy and well-balanced life.
                </div>
            </div>
            <div class="spec-container">
                <div class="left">Minerals</div>
                <div class="right para">
                    Kangen Water® contains the minerals calcium, sodium, potassium, and magnesium. Unlike reverse osmosis, which strips away even helpful minerals, these are not filtered out of Kangen Water®!
                </div>
            </div>
        </div>
        <div class="type-sec" id="clean">
            <div style="background: #ECF4E2; color: #66B000" class="header para-header-2">
                <div>Clean Water</div>
                <div>pH: 7.0</div>
            </div>
            <div class="image-area">
                <img class="image" src="assets/images/usage/usage_clean.jpg">
                <div class="text para">
                    Remove chlorine, rust and cloudiness to create delicious drinking water. The three-layered, high-powered water cleaning filter removes not only chlorine, but also matters such as rust and impurities. You will obtain delicious clean water that contains minerals.
                </div>
            </div>
            <div class="spec-container">
                <div class="left">Medication</div>
                <div class="right para">
                    It's a good idea to use this water when taking medication.
                </div>
            </div>
            <div class="spec-container">
                <div class="left">Baby food</div>
                <div class="right para">
                    Use Clean water when preparing baby formula.
                </div>
            </div>
        </div>
        <div class="type-sec" id="acidic">
            <div style="background: #FBF6DE; color: #FFC530" class="header para-header-2">
                <div>Acidic Water</div>
                <div>pH: 6.0 - 4.0</div>
            </div>
            <div class="image-area">
                <img class="image" src="assets/images/usage/usage_acidic.jpg">
                <div class="text para">
                    This slightly acidic water is recognized for its astringent effects. It's terrific to use for gentle cleaning and beauty care.
                </div>
            </div>
            <div class="spec-container">
                <div class="left">Face wash</div>
                <div class="right para">
                    The astringent properties of acidic water are effective in toning and firming your skin. Pat the skin and leave to dry. Also excellent as a toner after shaving.
                </div>
            </div>
            <div class="spec-container">
                <div class="left">Hair care</div>
                <div class="right para">
                    Use instead of rinse after shampooing. Reduces annoying tangles and brings out a radiant shine.
                </div>
            </div>
            <div class="spec-container">
                <div class="left">Bath water</div>
                <div class="right para">
                    Add Acidic water to your bath to keep your tub free of bathtub rings. Bathing in this water warms the body and keeps skin beautiful.
                </div>
            </div>
            <div class="spec-container">
                <div class="left">Pet care</div>
                <div class="right para">
                    Great for grooming your pet, brush with it to obtain soft and shiny fur.
                </div>
            </div>
            <div class="spec-container">
                <div class="left">Rinse cycle</div>
                <div class="right para">
                    Soaking in acidic water before the spin cycle will soften your clothes.
                </div>
            </div>
            <div class="spec-container">
                <div class="left">Cooking beans</div>
                <div class="right para">
                    Various types of beans, such as kidney beans and green peas, will cook to perfection. Since Acidic water will speed up the cooking time, take care not to overcook.
                </div>
            </div>
            <div class="spec-container">
                <div class="left">Washing vegetables and fruit</div>
                <div class="right para">
                    Vibrant colors of strawberries, red cabbage, asparagus and eggplants will not change when washed and prepared with this water.
                </div>
            </div>
            <div class="spec-container">
                <div class="left"></div>
                <div class="right para">
                </div>
            </div>
            <div class="spec-container">
                <div class="left">Fried food</div>
                <div class="right para">
                    Fried food comes out nice and crispy when the batter is made with Acidic water.
                </div>
            </div>
            <div class="spec-container">
                <div class="left">Frozen food</div>
                <div class="right para">
                    Spray foods with Acidic water when freezing so that the food, including fish and shrimp, do not lose their flavor when thawed out.
                </div>
            </div>
            <div class="spec-container">
                <div class="left">Stains</div>
                <div class="right para">
                    To remove stains, grime and grease, leave to soak in water for 24 hours.
                </div>
            </div>
            <div class="spec-container">
                <div class="left">Dishes</div>
                <div class="right para">
                    When washing dishes and glasses in this water, they will come out sparkling clean.
                </div>
            </div>
            <div class="spec-container">
                <div class="left">Polishing</div>
                <div class="right para">
                    Polish mirrors, eyeglasses, glass objects and windows to a high sheen.
                </div>
            </div>
            <div class="spec-container">
                <div class="left">Housecleaning</div>
                <div class="right para">
                    Remove dirt from hardwood floors, ceramic tiles etc., without leaving a sticky residue.
                </div>
            </div>
        </div>
        <div class="type-sec" id="strongacidic">
            <div style="background: #F8EADA; color: #F19B00" class="header para-header-2">
                <div>Strong Acidic Water</div>
                <div>pH: 2.7 and down</div>
            </div>
            <div class="image-area">
                <img class="image" src="assets/images/usage/usage_strongacidic.jpg">
                <div class="text para">
                    This water has disinfecting properties. Use Strong Acidic Water to sanitize kitchen utensils, countertops, etc. to keep areas safe and clean.
                </div>
            </div>
            <div class="spec-container">
                <div class="left">Cleaning and sanitizing</div>
                <div class="right para">
                    Sanitize knives, cutting boards, dish towels, and kitchen cloths, etc. For a more powerful cleaning effect, clean with Strong Kangen water before using Strong Acidic water. Because of the strong acidity, metal that rusts easily should be wiped with a dry cloth.
                </div>
            </div>
            <div class="spec-container">
                <div class="left">Hygiene</div>
                <div class="right para">
                    Use Strong Acidic Water to wash hands, and clean and sanitize bathroom surfaces.
                </div>
            </div>
            <div class="spec-container">
                <div class="left">Commercial operation</div>
                <div class="right para">
                    Beauty salons, hair salons, restaurants, agricultural colleges, daycare centers, pet shops, and nursing homes all benefit greatly from the use of Strong Acidic Water.
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <app-send-ebook-box2></app-send-ebook-box2>
    </div>
</div>
