<app-banner backgroundImg="https://drive.google.com/uc?export=view&id=198noq-4CbRVvv8X4Hnl3PWeTOuPhUBgR" bannerTitle="Contact"></app-banner>
<app-navbar></app-navbar>
<div class="main-container">
    <form class="left" (submit)="sendEmail(firstname1.value, lastname1.value, email1.value, phone1.value, city1.value, country1.value, message.value)">
        <div class="para-header-2">Fill out the form and we'll get back to you as soon as possible!</div>
        <div><b>I'm interested in:</b></div>
        <div class="checkbox-container">
            <div class="left">
                <div><input type="checkbox" class="anespa"> ANESPA DX</div>
                <!-- <div><input type="checkbox" class="r"> R</div> -->
                <div><input type="checkbox" class="jriv"> JRIV</div>
                <div><input type="checkbox" class="super501"> SUPER 501</div>
                <div><input type="checkbox" class="sd501"> SD501</div>
            </div>
            <div class="right">
                <div><input type="checkbox" class="sd501-plat"> SD501 PLATINUM</div>
                <div><input type="checkbox" class="k8"> K8</div>
                <div><input type="checkbox" class="other"> Other</div>
                <div><input type="checkbox" class="freetrial"><b> FREE TRIAL of Kangen Water</b></div>
            </div>
        </div>
        <div class='info-row'>
            <input type="text" class='first-name-1 input1' placeholder="first name *" #firstname1 required>
            <input type="text" class='last-name-1 input2' placeholder="last name *" #lastname1 required>
        </div>
        <div class='info-row'>
            <input type="email" class='email-1 input1' placeholder="email *" #email1 required>
            <input type="text" class='phone-num-1 input2' placeholder="phone (incl. country code)*" #phone1 required>
        </div>
        <div class='info-row'>
            <input type="text" class='city-1 input1' placeholder="city *" #city1 required>
            <input type="text" class='country-1 input2' placeholder="country *" #country1 required>
        </div>
        <textarea type="text" class="msg-box" placeholder="Enter a message (optional)" #message></textarea>
        <div class="agree">* By submitting this form you consent to be contacted by the distributor.</div>
        <button type="submit" class="send-button-1">
            <div>SEND MESSAGE &#187;<div class="loader loader-1"></div></div>
        </button>
        <div class="send-status">Message sent!</div>
    </form>
    <div class="right">
        <app-send-ebook-box2></app-send-ebook-box2>
    </div>
</div>
<div class="send-ebook-box-1-container">
    <app-send-ebook-box1></app-send-ebook-box1>
</div>
