<div class='nav-bar' id="navbar">
    <div class='left-section'>
        <div class="text-container">
            <img class="logo" src="https://drive.google.com/uc?export=view&id=11Up7UF9N5zTCKtsiSjdDlukePst5RL_x">
            <div class='text'><a href=''>Kangen Water<span style="font-size: 12px; float: right; padding: 5px 0 0 2px;">®</span></a></div>
        </div>
    </div>
    <div class='right-section'>
        <div class='sub-header'><a href=''>Home</a></div>
        <div class='sub-header'><a href='/usage'>Usage</a></div>
        <div class='sub-header'><a href='/products'>Products</a></div>
        <div class='sub-header'><a href='/testimonials'>Testimonials</a></div>
        <div class='sub-header'><a href='/contact'>Contact</a></div>
        <div class='menu-dropdown' ngbDropdown>
            <button ngbDropdownToggle><i class="fa fa-bars"></i></button>
            <div ngbDropdownMenu>
                <div ngbDropdownMenuItem><a href=''>Home</a></div>
                <div ngbDropdownMenuItem><a href='/usage'>Usage</a></div>
                <div ngbDropdownMenuItem><a href='/products'>Products</a></div>
                <div ngbDropdownMenuItem><a href='/testimonials'>Testimonials</a></div>
                <div ngbDropdownMenuItem><a href='/contact'>Contact</a></div>
            </div>
        </div>
    </div>
</div>