<div class="send-ebook-box-1">
    <div class="header para-header">Get your FREE Healthy Water eBook!</div>
    <form class="rows-container" id="form" (submit)="sendEbook(firstname.value, lastname.value, email.value, phone.value)">
        <div class="row1">
            <div class="col1"><input type='text' class="first-name" placeholder="first name *" #firstname required></div>
            <div class="col2"><input type='text' class="last-name" placeholder="last name *" #lastname required></div>
            <div class='col3 checkbox-container'>
                <div><input type="checkbox" class='send-newsletter'><div class="text">Yes! Please also send the Newsletter</div></div>
            </div> 
        </div>
        <div class="row2">
            <div class="col1"><input type='email' class="email" placeholder="email *" #email required></div>
            <div class="col2"><input type='text' class="phone-num" placeholder="phone *" minlength="9" #phone required></div>
            <button type='submit' class='col3 send-button'>
                <div class="send-button-inner">
                    <div>GET EBOOK &#187;</div><div class="loader sendEbook1-loader"></div>
                </div>
            </button>
        </div>
    </form>
    <form class="rows-container-on-xs" id="form" onsubmit="sendEbook(firstname1.value, lastname1.value, email1.value, phone1.value)">
        <div class="row1">
            <div class="col1"><input type='text' class="first-name" placeholder="first name *" #firstname1 required></div>
            <div class="col2"><input type='text' class="last-name" placeholder="last name *" #lastname1 required></div>
        </div>
        <div class="row2">
            <div class="col1"><input type='email' class="email" placeholder="email *" #email1 required></div>
            <div class="col2"><input type='number' class="phone-num" placeholder="phone *" minlength="9" #phone1 required></div>
        </div>
        <div class='checkbox-container'>
            <div><input type="checkbox" class='send-newsletter'><div class="text">Yes! Please also send the Newsletter</div></div>
        </div>
        <button type='submit' class='send-button'>
            <div class="send-button-inner">
                <div class="text">GET EBOOK &#187;</div><div class="loader sendEbook1-loader"></div>
            </div>
        </button>
    </form>
</div>