<app-navbar></app-navbar>
<app-banner backgroundImg="assets/images/products/header_products_light.jpg" bannerTitle="Products"></app-banner>
<div class="main-container">
    <div class="left">
        <!-- Leveluk K8 -->
        <div class="machine-type" style="margin-bottom: 40px;">
            <div class="header para-header-1">Leveluk K8</div>
            <div class="image-area">
                <div class='image'>
                    <img src="assets/images/products/kangen8.png">
                </div>
                <div class="info">
                    <div class="info-header para-header-2">The Mighty 8-Plate Anti-Oxidizer</div>
                    <div class="info-text">
                        The Kangen® 8 (K8) is Enagic®'s most powerful antioxidant machine - featuring 8 platinum-dipped titanium plates for improved water ionization and increased antioxidant production potential. You can enjoy this Kangen Water® machine in any country, thanks to its worldwide multi-voltage power supply and interchangeable plug capability (sold separately). If you're looking for a powerful and versatile machine with plenty of user-friendly and energy-saving automated features, the Kangen® 8 is for you.
                    </div>
                </div>
            </div>
            <div class="buttons-container">
                <div class="buttons-inner-container">
                    <div class="price-dropdown" ngbDropdown>
                        <button class="price-dropdown-toggle" ngbDropdownToggle>Price per unit</button>
                        <div class="price-dropdown-menu" ngbDropdownMenu>
                            <div>US$ 5480</div>
                            <div>CA$ 5700</div>
                            <div>€ 4200</div>
                        </div>
                    </div>
                    <a href="/contact"><button class="buy">BUY NOW</button></a>
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>Electrode plates:</div>
                <div class='right'>8
                    <div class='dropdown' ngbDropdown>
                        <button class='dropdown-toggle' ngbDropdownToggle><i class="fa fa-question-circle"></i></button>
                        <div class='dropdown-menu dropdown-menu-1' ngbDropdownMenu>
                            (Platinum coated titanium)
                        </div>
                    </div>
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>Plate size: (mm)</div>
                <div class='right'>135 x 75</div>
            </div>
            <div class="spec-container">
                <div class='left'>Negative ORP: (mV)</div>
                <div class='right'>-850
                    <div class='dropdown' ngbDropdown>
                        <button class='dropdown-toggle' ngbDropdownToggle><i class="fa fa-question-circle"></i></button>
                        <div class='dropdown-menu dropdown-menu-2' ngbDropdownMenu>
                            (depends on water quality and flow rate)
                        </div>
                    </div>
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>pH Range:</div>
                <div class='right'>2.5 - 11.5</div>
            </div>
            <div class="spec-container">
                <div class='left'>Generates:</div>
                <div class='right'>5 water types
                    <div class='dropdown' ngbDropdown>
                        <button class='dropdown-toggle' ngbDropdownToggle><i class="fa fa-question-circle"></i></button>
                        <div class='dropdown-menu dropdown-menu-3' ngbDropdownMenu>
                            Strong Kangen, Kangen, Neutral(Clean), Acidic, Strong Acidic
                        </div>
                    </div>
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>Wattage: (W)</div>
                <div class='right'>230</div>
            </div>
            <div class="spec-container">
                <div class='left'>Total weight: (kg)</div>
                <div class='right'>5</div>
            </div>
            <div class="spec-container">
                <div class='left'>Dimensions WHD: (mm)</div>
                <div class='right'>345 x 279 x 147</div>
            </div>
            <div class="spec-container">
                <div class='left'>Production rate: (l/min)</div>
                <div class='right'>Kangen Water®: 4.5 - 7.6<br>Acidic Water: 1.5 - 2.6<br>Strong Acidic water: 0.6 - 1.1</div>
            </div>
            <div class="spec-container">
                <div class='left'>Ease of Use:</div>
                <div class='right'>Fully automatic, very simple to operate</div>
            </div>
            <div class="spec-container">
                <div class='left'>Languages:</div>
                <div class='right'>8
                    <div class='dropdown' ngbDropdown>
                        <button class='dropdown-toggle' ngbDropdownToggle><i class="fa fa-question-circle"></i></button>
                        <div class='dropdown-menu dropdown-menu-lang' ngbDropdownMenu>
                            Japanese, English, Spanish, French, Italian, German, Portuguese, Chinese(Mandarin)
                        </div>
                    </div>
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>Warranty: (years)</div>
                <div class='right'>5</div>
            </div>
        </div>
        <!-- Leveluk SD501 PLATINUM 5-LANGUAGE -->
        <div class="machine-type">
            <div class="header para-header-1">Leveluk SD501 PLATINUM 5-LANGUAGE</div>
            <div class="image-area">
                <div class='image'>
                    <img src="assets/images/products/sd501p5.png">
                </div>
                <div class="info">
                    <div class="info-header para-header-2">The Ultimate Home Use Model</div>
                    <div class="info-text">
                        Introducing the BRAND NEW 5-Language SD501 Platinum! The all new Platinum features a revamped modern design that coordinates beautifully with today's stylish kitchens. It has the same powerful performance in an all-new package. Smart New Look, Same Reliable SD 501!
                    </div>
                </div>
            </div>
            <div class="buttons-container">
                <div class="buttons-inner-container">
                    <div class="price-dropdown" ngbDropdown>
                        <button class="price-dropdown-toggle" ngbDropdownToggle>Price per unit</button>
                        <div class="price-dropdown-menu" ngbDropdownMenu>
                            <div>US$ 4480</div>
                            <div>CA$ 4950</div>
                            <div>€ 3500</div>
                        </div>
                    </div>
                    <a href="/contact"><button class="buy">BUY NOW</button></a>
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>Electrode plates:</div>
                <div class='right'>7
                    <div class='dropdown' ngbDropdown>
                        <button class='dropdown-toggle' ngbDropdownToggle><i class="fa fa-question-circle"></i></button>
                        <div class='dropdown-menu dropdown-menu-1' ngbDropdownMenu>
                            (Platinum coated titanium)
                        </div>
                    </div>
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>Plate size: (mm)</div>
                <div class='right'>135 x 75</div>
            </div>
            <div class="spec-container">
                <div class='left'>Negative ORP: (mV)</div>
                <div class='right'>-800
                    <div class='dropdown' ngbDropdown>
                        <button class='dropdown-toggle' ngbDropdownToggle><i class="fa fa-question-circle"></i></button>
                        <div class='dropdown-menu dropdown-menu-2' ngbDropdownMenu>
                            (depends on water quality and flow rate)
                        </div>
                    </div>
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>pH Range:</div>
                <div class='right'>2.5 - 11.5</div>
            </div>
            <div class="spec-container">
                <div class='left'>Generates:</div>
                <div class='right'>5 water types
                    <div class='dropdown' ngbDropdown>
                        <button class='dropdown-toggle' ngbDropdownToggle><i class="fa fa-question-circle"></i></button>
                        <div class='dropdown-menu dropdown-menu-3' ngbDropdownMenu>
                            Strong Kangen, Kangen, Neutral(Clean), Acidic, Strong Acidic
                        </div>
                    </div>
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>Wattage: (W)</div>
                <div class='right'>230</div>
            </div>
            <div class="spec-container">
                <div class='left'>Total weight: (kg)</div>
                <div class='right'>6.3</div>
            </div>
            <div class="spec-container">
                <div class='left'>Dimensions WHD: (mm)</div>
                <div class='right'>264 x 338 x 171</div>
            </div>
            <div class="spec-container">
                <div class='left'>Production rate: (l/min)</div>
                <div class='right'>
                    Kangen Water®: 4.5 - 7.6<br>Acidic Water: 1.5 - 2.6<br>Strong Acidic water: 0.6 - 1.1
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>Ease of Use:</div>
                <div class='right'>Fully automatic, very simple to operate</div>
            </div>
            <div class="spec-container">
                <div class='left'>Languages:</div>
                <div class='right'>5
                    <div class='dropdown' ngbDropdown>
                        <button class='dropdown-toggle' ngbDropdownToggle><i class="fa fa-question-circle"></i></button>
                        <div class='dropdown-menu dropdown-menu-lang' ngbDropdownMenu>
                            English, German, French, Italian and Spanish
                        </div>
                    </div>
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>Warranty: (years)</div>
                <div class='right'>5</div>
            </div>
        </div>
        <!-- Leveluk SD501 -->
        <div class="machine-type">
            <div class="header para-header-1">Leveluk SD501</div>
            <div class="image-area">
                <div class='image'>
                    <img src="assets/images/products/sd501.png">
                </div>
                <div class="info">
                    <div class="info-header para-header-2">The Ultimate Home Use Model</div>
                    <div class="info-text">
                        Leveluk SD501 is the most popular home model, and the perfect machine for you and your family. This industry-leading machine conveniently connects to your kitchen faucet and generates enough of the 5 types of Enagic® water (see below) for you to share with your community and loved ones. Although it is incredibly powerful, the SD501 is also very compact and perfectly suitable for your kitchen cabinet. The fully featured LCD screen is attractive and simple to operate. The SD501 is Enagic's "Flagship" model because it provides additional stable oxygen and higher negative ORP levels. Like all 501 models, the SD501 uses innovative electrolysis technology with 7 platinum-coated 99.97% pure titanium electrode plates.
                    </div>
                </div>
            </div>
            <div class="buttons-container">
                <div class="buttons-inner-container">
                    <div class="price-dropdown" ngbDropdown>
                        <button class="price-dropdown-toggle" ngbDropdownToggle>Price per unit</button>
                        <div class="price-dropdown-menu" ngbDropdownMenu>
                            <div>US$ 4380</div>
                            <div>CA$ 4700</div>
                            <div>€ 3280</div>
                        </div>
                    </div>
                    <a href="/contact"><button class="buy">BUY NOW</button></a>
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>Electrode plates:</div>
                <div class='right'>7
                    <div class='dropdown' ngbDropdown>
                        <button class='dropdown-toggle' ngbDropdownToggle><i class="fa fa-question-circle"></i></button>
                        <div class='dropdown-menu dropdown-menu-1' ngbDropdownMenu>
                            (Platinum coated titanium)
                        </div>
                    </div>
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>Plate size: (mm)</div>
                <div class='right'>135 x 75</div>
            </div>
            <div class="spec-container">
                <div class='left'>Negative ORP: (mV)</div>
                <div class='right'>-800
                    <div class='dropdown' ngbDropdown>
                        <button class='dropdown-toggle' ngbDropdownToggle><i class="fa fa-question-circle"></i></button>
                        <div class='dropdown-menu dropdown-menu-2' ngbDropdownMenu>
                            (depends on water quality and flow rate)
                        </div>
                    </div>
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>pH Range:</div>
                <div class='right'>2.5 - 11.5</div>
            </div>
            <div class="spec-container">
                <div class='left'>Generates:</div>
                <div class='right'>5 water types
                    <div class='dropdown' ngbDropdown>
                        <button class='dropdown-toggle' ngbDropdownToggle><i class="fa fa-question-circle"></i></button>
                        <div class='dropdown-menu dropdown-menu-3' ngbDropdownMenu>
                            Strong Kangen, Kangen, Neutral(Clean), Acidic, Strong Acidic
                        </div>
                    </div>
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>Wattage: (W)</div>
                <div class='right'>230</div>
            </div>
            <div class="spec-container">
                <div class='left'>Total weight: (kg)</div>
                <div class='right'>6.3</div>
            </div>
            <div class="spec-container">
                <div class='left'>Dimensions WHD: (mm)</div>
                <div class='right'>264 x 338 x 171</div>
            </div>
            <div class="spec-container">
                <div class='left'>Production rate: (l/min)</div>
                <div class='right'>
                    Kangen Water®: 4.5 - 7.6<br>Acidic Water: 1.5 - 2.6<br>Strong Acidic water: 0.6 - 1.1
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>Ease of Use:</div>
                <div class='right'>Fully automatic, very simple to operate</div>
            </div>
            <div class="spec-container">
                <div class='left'>Languages:</div>
                <div class='right'>English</div>
            </div>
            <div class="spec-container">
                <div class='left'>Warranty: (years)</div>
                <div class='right'>5</div>
            </div>
        </div>
        <!-- Leveluk SUPER 501 -->
        <div class="machine-type">
            <div class="header para-header-1">Leveluk SUPER 501</div>
            <div class="image-area">
                <div class='image'>
                    <img src="assets/images/products/super.png">
                </div>
                <div class="info">
                    <div class="info-header para-header-2">For Heavy Home Use</div>
                    <div class="info-text">
                        This powerful Enagic® machine is a large family unit, and the top of the line model for heavy home use or for small businesses. Nursing homes, agricultural colleges, and spas can all benefit greatly by having the high-performance Super501! With 12 platinum-coated 99.97% pure titanium electrode plates, this highly productive machine generates all 5 different types of Enagic® water (see below) for countless uses around your home or business. If you're looking for a super-sized SD501, the Super501 is exactly what you need.
                    </div>
                </div>
            </div>
            <div class="buttons-container">
                <div class="buttons-inner-container">
                    <div class="price-dropdown" ngbDropdown>
                        <button class="price-dropdown-toggle" ngbDropdownToggle>Price per unit</button>
                        <div class="price-dropdown-menu" ngbDropdownMenu>
                            <div>US$ 5580</div>
                            <div>CA$ n/a</div>
                            <div>€ n/a</div>
                        </div>
                    </div>
                    <a href="/contact"><button class="buy">BUY NOW</button></a>
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>Electrode plates:</div>
                <div class='right'>7 & 5
                    <div class='dropdown' ngbDropdown>
                        <button class='dropdown-toggle' ngbDropdownToggle><i class="fa fa-question-circle"></i></button>
                        <div class='dropdown-menu dropdown-menu-1' style="min-width: 200px;" ngbDropdownMenu>
                            (Platinum coated titanium, 7 plates for Strong Acidic/Strong Kangen and 5 plates for Kangen/Acidic water)
                        </div>
                    </div>
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>Plate size: (mm)</div>
                <div class='right'>135 x 75</div>
            </div>
            <div class="spec-container">
                <div class='left'>Negative ORP: (mV)</div>
                <div class='right'>-800
                    <div class='dropdown' ngbDropdown>
                        <button class='dropdown-toggle' ngbDropdownToggle><i class="fa fa-question-circle"></i></button>
                        <div class='dropdown-menu dropdown-menu-2' ngbDropdownMenu>
                            (depends on water quality and flow rate)
                        </div>
                    </div>
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>pH Range:</div>
                <div class='right'>2.5 - 11.5</div>
            </div>
            <div class="spec-container">
                <div class='left'>Generates:</div>
                <div class='right'>5 water types
                    <div class='dropdown' ngbDropdown>
                        <button class='dropdown-toggle' ngbDropdownToggle><i class="fa fa-question-circle"></i></button>
                        <div class='dropdown-menu dropdown-menu-3' ngbDropdownMenu>
                            Strong Kangen, Kangen, Neutral(Clean), Acidic, Strong Acidic
                        </div>
                    </div>
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>Wattage: (W)</div>
                <div class='right'>200</div>
            </div>
            <div class="spec-container">
                <div class='left'>Total weight: (kg)</div>
                <div class='right'>10.1</div>
            </div>
            <div class="spec-container">
                <div class='left'>Dimensions WHD: (mm)</div>
                <div class='right'>352 x 384 x 250</div>
            </div>
            <div class="spec-container">
                <div class='left'>Production rate: (l/min)</div>
                <div class='right'>Kangen Water®: 4.9 - 7.9<br>Acidic Water: 1.9 - 3.0<br>Strong Acidic water: 1.1 - 3.0</div>
            </div>
            <div class="spec-container">
                <div class='left'>Ease of Use:</div>
                <div class='right'>Fully automatic, very simple to operate</div>
            </div>
            <div class="spec-container">
                <div class='left'>Languages:</div>
                <div class='right'>English</div>
            </div>
            <div class="spec-container">
                <div class='left'>Warranty: (years)</div>
                <div class='right'>3</div>
            </div>
        </div>
        <!-- Leveluk JRIV -->
        <div class="machine-type">
            <div class="header para-header-1">Leveluk JRIV</div>
            <div class="image-area">
                <div class='image'>
                    <img src="assets/images/products/jr4.png">
                </div>
                <div class="info">
                    <div class="info-header para-header-2">The Junior Model</div>
                    <div class="info-text">
                        The JRIV has four solid electrode plates, which reduces the energy consumption. Due to the lower power consumption and fewer plates, this machine is considered one of Enagic's "starter" models. If you're looking for an Enagic machine that generates all 5 types of water, this model is a good entry level choice, and you can always upgrade to the flagship K8 model in the future! Families should consider one of the more robust models (SD501 or Super501) that can produce an ample supply of all 5 types of Enagic waters for everyday hydration, cleaning, and personal hygiene.
                    </div>
                </div>
            </div>
            <div class="buttons-container">
                <div class="buttons-inner-container">
                    <div class="price-dropdown" ngbDropdown>
                        <button class="price-dropdown-toggle" ngbDropdownToggle>Price per unit</button>
                        <div class="price-dropdown-menu" ngbDropdownMenu>
                            <div>US$ 3280</div>
                            <div>CA$ 4000</div>
                            <div>€ 2700</div>
                        </div>
                    </div>
                    <a href="/contact"><button class="buy">BUY NOW</button></a>
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>Electrode plates:</div>
                <div class='right'>4
                    <div class='dropdown' ngbDropdown>
                        <button class='dropdown-toggle' ngbDropdownToggle><i class="fa fa-question-circle"></i></button>
                        <div class='dropdown-menu dropdown-menu-1' ngbDropdownMenu>
                            (Platinum coated titanium)
                        </div>
                    </div>
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>Plate size: (mm)</div>
                <div class='right'>135 x 75</div>
            </div>
            <div class="spec-container">
                <div class='left'>Negative ORP: (mV)</div>
                <div class='right'>-550
                    <div class='dropdown' ngbDropdown>
                        <button class='dropdown-toggle' ngbDropdownToggle><i class="fa fa-question-circle"></i></button>
                        <div class='dropdown-menu dropdown-menu-2' ngbDropdownMenu>
                            (depends on water quality and flow rate)
                        </div>
                    </div>
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>pH Range:</div>
                <div class='right'>2.5 - 11.5</div>
            </div>
            <div class="spec-container">
                <div class='left'>Generates:</div>
                <div class='right'>5 water types
                    <div class='dropdown' ngbDropdown>
                        <button class='dropdown-toggle' ngbDropdownToggle><i class="fa fa-question-circle"></i></button>
                        <div class='dropdown-menu dropdown-menu-3' ngbDropdownMenu>
                            Strong Kangen, Kangen, Neutral(Clean), Acidic, Strong Acidic
                        </div>
                    </div>
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>Wattage: (W)</div>
                <div class='right'>120</div>
            </div>
            <div class="spec-container">
                <div class='left'>Total weight: (kg)</div>
                <div class='right'>5.8</div>
            </div>
            <div class="spec-container">
                <div class='left'>Dimensions WHD: (mm)</div>
                <div class='right'>264 x 338 x 171</div>
            </div>
            <div class="spec-container">
                <div class='left'>Production rate: (l/min)</div>
                <div class='right'>
                    Kangen Water®: 3.0 - 4.9<br>Acidic Water: 0.2 - 1.9<br>Strong Acidic water: 0.3 - 0.7
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>Ease of Use:</div>
                <div class='right'>Fully automatic</div>
            </div>
            <div class="spec-container">
                <div class='left'>Languages:</div>
                <div class='right'>English</div>
            </div>
            <div class="spec-container">
                <div class='left'>Warranty: (years)</div>
                <div class='right'>3</div>
            </div>
        </div>
        <!-- ANESPA DX -->
        <div class="machine-type">
            <div class="header para-header-1">ANESPA DX</div>
            <div class="image-area">
                <div class='image'>
                    <img src="assets/images/products/anespa.png">
                </div>
                <div class="info">
                    <div class="info-header para-header-2">Your Home Spa System</div>
                    <div class="info-text">
                        The exclusive ANESPA Home Spa System transforms your ordinary bathroom into a natural hot spring resort. ANESPA produces a continuous stream of healthy ionized mineral water. It removes chlorine and other harmful substances in your tap water, and adds safe, moisturizing minerals that are healthy for your skin and hair. Enjoy a lovely shower or bath in ANESPA hot spring water!
                    </div>
                </div>
            </div>
            <div class="buttons-container">
                <div class="buttons-inner-container">
                    <div class="price-dropdown" ngbDropdown>
                        <button class="price-dropdown-toggle" ngbDropdownToggle>Price per unit</button>
                        <div class="price-dropdown-menu" ngbDropdownMenu>
                            <div>US$ 3180</div>
                            <div>CA$ 2800</div>
                            <div>€ 2600</div>
                        </div>
                    </div>
                    <a href="/contact"><button class="buy">BUY NOW</button></a>
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>Electrode plates:</div>
                <div class='right'>N/A
                    <!-- <div class='dropdown' ngbDropdown>
                        <button class='dropdown-toggle' ngbDropdownToggle><i class="fa fa-question-circle"></i></button>
                        <div class='dropdown-menu dropdown-menu-1' ngbDropdownMenu>
                            (Platinum coated titanium)
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>Plate size: (mm)</div>
                <div class='right'>N/A</div>
            </div>
            <div class="spec-container">
                <div class='left'>Negative ORP: (mV)</div>
                <div class='right'>N/A
                    <!-- <div class='dropdown' ngbDropdown>
                        <button class='dropdown-toggle' ngbDropdownToggle><i class="fa fa-question-circle"></i></button>
                        <div class='dropdown-menu dropdown-menu-2' ngbDropdownMenu>
                            (depends on water quality and flow rate)
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>pH Range:</div>
                <div class='right'>Same as tap water</div>
            </div>
            <div class="spec-container">
                <div class='left'>Generates:</div>
                <div class='right'>Mineral ion water for your bath or shower.
                    <!-- <div class='dropdown' ngbDropdown>
                        <button class='dropdown-toggle' ngbDropdownToggle><i class="fa fa-question-circle"></i></button>
                        <div class='dropdown-menu dropdown-menu-3' ngbDropdownMenu>
                            Strong Kangen, Kangen, Neutral(Clean), Acidic, Strong Acidic
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>Wattage: (W)</div>
                <div class='right'>N/A</div>
            </div>
            <div class="spec-container">
                <div class='left'>Total weight: (kg)</div>
                <div class='right'>2.5</div>
            </div>
            <div class="spec-container">
                <div class='left'>Dimensions WHD: (mm)</div>
                <div class='right'>130 x 346</div>
            </div>
            <div class="spec-container">
                <div class='left'>Production rate: (l/min)</div>
                <div class='right'>
                    2.6
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>Ease of Use:</div>
                <div class='right'>Very simple to install and operate.</div>
            </div>
            <div class="spec-container">
                <div class='left'>Languages:</div>
                <div class='right'>N/A</div>
            </div>
            <div class="spec-container">
                <div class='left'>Warranty: (years)</div>
                <div class='right'>3</div>
            </div>
        </div>
        <!-- EMGUARDE -->
        <div class="machine-type">
            <div class="header para-header-1">emGuarde</div>
            <div class="image-area">
                <div class='image'>
                    <img src="assets/images/products/emguarde.jpg">
                </div>
                <div class="info">
                    <div class="info-header para-header-2">Your Environment Harmonizer</div>
                    <div class="info-text">
                        The exclusive emGuarde defends your family and loved ones against the invisible electromagnetic disturbance. An electronic device that can harmonize high frequencies electromagnetic “noise” (between 3MHz to 1000MHz) within an all-around range of 4 meters radius, particularly of the non-ionizing radiation spectrum, generated by electronic/electrical devices in the home, office, or car.
                        <div style="margin-top: 6px;">Change Your Environment, Change Your Life!</div>
                        <div style="margin-top: 6px;">For more info, visit <a href="https://www.emguarde.com" target="blank" style="color: #5B9BD5;">www.emguarde.com</a></div>
                    </div>
                </div>
            </div>
            <div class="buttons-container">
                <div class="buttons-inner-container">
                    <div class="price-dropdown" ngbDropdown>
                        <button class="price-dropdown-toggle" ngbDropdownToggle>Price per unit</button>
                        <div class="price-dropdown-menu" ngbDropdownMenu>
                            <div>US$ 1500</div>
                            <div>CA$ 2100</div>
                            <div>€ 1350</div>
                        </div>
                    </div>
                    <a href="/contact"><button class="buy">BUY NOW</button></a>
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>Model:</div>
                <div class='right'>EM001
                    <!-- <div class='dropdown' ngbDropdown>
                        <button class='dropdown-toggle' ngbDropdownToggle><i class="fa fa-question-circle"></i></button>
                        <div class='dropdown-menu dropdown-menu-1' ngbDropdownMenu>
                            (Platinum coated titanium)
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>Voltage: (V)</div>
                <div class='right'>DC-5V (single output voltage)</div>
            </div>
            <div class="spec-container">
                <div class='left'>Input: (A)</div>
                <div class='right'>2A-6A
                    <!-- <div class='dropdown' ngbDropdown>
                        <button class='dropdown-toggle' ngbDropdownToggle><i class="fa fa-question-circle"></i></button>
                        <div class='dropdown-menu dropdown-menu-2' ngbDropdownMenu>
                            (depends on water quality and flow rate)
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>Coverage: (m)</div>
                <div class='right'>4m Radius / 8m Diameter</div>
            </div>
            <div class="spec-container">
                <div class='left'>Power: (W)</div>
                <div class='right'>0.5
                    <!-- <div class='dropdown' ngbDropdown>
                        <button class='dropdown-toggle' ngbDropdownToggle><i class="fa fa-question-circle"></i></button>
                        <div class='dropdown-menu dropdown-menu-3' ngbDropdownMenu>
                            Strong Kangen, Kangen, Neutral(Clean), Acidic, Strong Acidic
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>Net Weight: (g)</div>
                <div class='right'>430</div>
            </div>
            <div class="spec-container">
                <div class='left'>Dimensions WHD: (mm)</div>
                <div class='right'>200 x 100 x 50</div>
            </div>
            <div class="spec-container">
                <div class='left'>Warranty: (years)</div>
                <div class='right'>2</div>
            </div>
        </div>
        <!-- Leveluk R -->
        <!-- <div class="machine-type">
            <div class="header para-header-1">Leveluk R</div>
            <div class="image-area">
                <div class='image'>
                    <img src="https://drive.google.com/uc?export=view&id=1867--dPSx9c1kTjxWZeclvUwqwi8ubZz">
                </div>
                <div class="info">
                    <div class="info-header para-header-2">The Starter Model</div>
                    <div class="info-text">
                        The Leveluk-R is one of Enagic®'s "starter" models because it is affordable for families on almost any budget. You can start enjoying the benefits of drinking alkaline Kangen Water® with the Leveluk-R today, and move onto the flagship SD501 at a later time. This machine produces 3 levels of alkaline drinking waters and Beauty Water (see below), with 3 platinum-coated 99.97% pure titanium electrode plates. Stay hydrated and enjoy healthy personal hygiene at a great bargain!
                    </div>
                </div>
            </div>
            <div class="buttons-container">
                <div class="buttons-inner-container">
                    <div class="price-dropdown" ngbDropdown>
                        <button class="price-dropdown-toggle" ngbDropdownToggle>Price per unit</button>
                        <div class="price-dropdown-menu" ngbDropdownMenu>
                            <div>US$ 1980</div>
                            <div>CA$ 1980</div>
                            <div>€ 1600</div>
                        </div>
                    </div>
                    <a href="/contact"><button class="buy">BUY NOW</button></a>
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>Electrode plates:</div>
                <div class='right'>3
                    <div class='dropdown' ngbDropdown>
                        <button class='dropdown-toggle' ngbDropdownToggle><i class="fa fa-question-circle"></i></button>
                        <div class='dropdown-menu dropdown-menu-1' ngbDropdownMenu>
                            (Platinum coated titanium)
                        </div>
                    </div>
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>Plate size: (mm)</div>
                <div class='right'>118 x 82</div>
            </div>
            <div class="spec-container">
                <div class='left'>Negative ORP: (mV)</div>
                <div class='right'>-350
                    <div class='dropdown' ngbDropdown>
                        <button class='dropdown-toggle' ngbDropdownToggle><i class="fa fa-question-circle"></i></button>
                        <div class='dropdown-menu dropdown-menu-2' ngbDropdownMenu>
                            (depends on water quality and flow rate)
                        </div>
                    </div>
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>pH Range:</div>
                <div class='right'>6.0 - 9.5</div>
            </div>
            <div class="spec-container">
                <div class='left'>Generates:</div>
                <div class='right'>3 water types
                    <div class='dropdown' ngbDropdown>
                        <button class='dropdown-toggle' ngbDropdownToggle><i class="fa fa-question-circle"></i></button>
                        <div class='dropdown-menu dropdown-menu-3' ngbDropdownMenu>
                            Kangen, Neutral(Clean), Acidic
                        </div>
                    </div>
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>Wattage: (W)</div>
                <div class='right'>100</div>
            </div>
            <div class="spec-container">
                <div class='left'>Total weight: (kg)</div>
                <div class='right'>6.1</div>
            </div>
            <div class="spec-container">
                <div class='left'>Dimensions WHD: (mm)</div>
                <div class='right'>250 x 308 x 135</div>
            </div>
            <div class="spec-container">
                <div class='left'>Production rate: (l/min)</div>
                <div class='right'>
                    Kangen Water®: 1.5 - 5.5<br>Acidic Water: 1.5 - 4.5
                </div>
            </div>
            <div class="spec-container">
                <div class='left'>Ease of Use:</div>
                <div class='right'>Very simple to operate, bright color LCD screen indicates current water selection</div>
            </div>
            <div class="spec-container">
                <div class='left'>Languages:</div>
                <div class='right'>English</div>
            </div>
            <div class="spec-container">
                <div class='left'>Warranty: (years)</div>
                <div class='right'>3</div>
            </div>
        </div> -->
    </div>
    <div class="right">
        <app-send-ebook-box2></app-send-ebook-box2>
    </div>
</div>
