@import 'src/styles.scss';

.banner {
    background: url(https://drive.google.com/uc?export=view&id=1XlanTB1i4XiynyQ3v291Zz1PK0hexPLA) no-repeat;
    background-size: cover;
}

.main-container {
    display: flex;

    >.left {
        width: 70%;
        padding: 0 25px 20px;

        @media screen and (max-width: 425px) {
            width: 100%;
            padding: 0 20px 20px;
        }

        .machine-type {
            margin-top: 45px;

            &:first-of-type {
                margin-top: 30px;

                @media screen and (max-width: 425px) {
                    margin-top: 30px;
                }
            }

            .header {
                margin-bottom: 15px;
            }

            .image-area {
                margin-bottom: 15px;
                display: flex;

                .image {
                    width: 45%;

                    img {
                        width: 100%;
                    }
                }

                .info {
                    width: 65%;
                    padding-left: 20px;
                }
            }

            .buttons-container {
                display: flex;
                justify-content: space-around;
                margin-bottom: 10px;

                .buttons-inner-container {
                    display: flex;

                    button {
                        padding: 4px 12px;
                        color: white;
                    }

                    .price-dropdown {
                        &-toggle {
                            background: #3daae9;
                            margin-right: 5px;
                            outline: none;

                            &::after {
                                display: inline-block;
                            }
                        }

                        &-menu {
                            min-width: 132.5px;
                        }
                    }


                    .buy {
                        background: #7bb33d;
                    }
                }
            }

            .spec-container {
                margin-bottom: 8px;
                display: flex;

                .left {
                    width: 40%;
                    font-weight: bold;
                }

                .right {
                    display: flex;
                    width: 60%;
                    padding-left: 20px;

                    .dropdown {
                        &-toggle {
                            background: white;
                            padding: 0;
                            outline: none;
                            margin-left: 4px;

                            &:hover {
                                cursor: default;
                                box-shadow: none;
                            }

                            .fa-question-circle {
                                font-size: 16.5px;
                                color: #3daae9;

                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }

                        &-menu {
                            background: rgba(0, 0, 0, 0.7);
                            transform: translate(26px, -1px) !important;
                            color: white;
                            padding: 0px 5px;
                            border-radius: 3px;
                            text-align: center;

                            &-1 {
                                min-width: 150px;

                                @media screen and (max-width: 425px) {
                                    transform: translate(-65px, -52px) !important;
                                }
                            }

                            &-2 {
                                min-width: 180px;

                                @media screen and (max-width: 425px) {
                                    transform: translate(-78px, -52px) !important;
                                }
                            }

                            &-3 {
                                min-width: 200px;

                                @media screen and (max-width: 425px) {
                                    transform: translate(-90px, -76px) !important;
                                }
                            }

                            &-lang {
                                min-width: 240px;

                                @media screen and (max-width: 425px) {
                                    transform: translate(-105px, -76px) !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    >.right {
        width: 30%;
        
        @media screen and (max-width: 425px) {
            display: none;
        }
    }
}
