<div class='banner'>
    <div class="para-header">{{bannerTitle}}</div>
    <div class="icon-area">
        <div class="left">
            <img *ngIf="!isPersonalWebsite" src="{{VARS.flagImg}}">
            <img *ngIf="isPersonalWebsite" src="{{VARS.profileImg}}">
        </div>
        <div class="right">
            <div *ngIf="!isPersonalWebsite">
                <div class="para-header-2"><a href='/team'><u>{{teamName}} Team</u></a></div>
                <div class="para">{{VARS.title}}</div>
                <div class="para">{{VARS.location}}</div>
            </div>
            <div *ngIf="isPersonalWebsite">
                <div class="para-header-2">{{VARS.distributor}}</div>
                <div class="para">{{VARS.title}}</div>
                <div class="para">{{VARS.location}}</div>
                <div class="para">{{VARS.phone}}</div>
            </div>
        </div>
    </div>
</div>
