<div class='banner'>
    <div class="para-header">{{bannerTitle}}</div>
    <div class="icon-area">
        <div class="left">
            <img src="{{VARS.flagImg}}">
        </div>
        <div class="right">
            <div>
                <div class="para-header-2"><u>{{websiteName.split('kangen')[1].charAt(0).toUpperCase() + websiteName.split('kangen')[1].slice(1)}} Team</u></div>
                <div class="para">{{VARS.title}}</div>
                <div class="para">{{VARS.location}}</div>
            </div>
        </div>
    </div>
</div>
