@import 'src/styles.scss';

.ttml-banner {
    background: linear-gradient(
        rgba(0, 0, 0, 0.1), 
        rgba(0, 0, 0, 0.1)
      ), url(https://drive.google.com/uc?export=view&id=1JzMtOHxq2XeXLM-_53TG6RwXGfgnO3ls) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    padding: 120px;
    margin-top: 55px;

    @media screen and (max-width: 425px) {
        margin-top: 45px;
    }

    @media screen and (max-width: 425px) {
        padding: 150px 20px;
    }

    .para-header, .para-header-2 {
        color: white;
        text-align: center;
        text-shadow: 1px 1px 1px black;
    }

    .para-header {
        margin-bottom: 20px;
        font-size: 36px;
    }
}

.main-container {
    .separator {
        border-color: rgba(255, 255, 255, 0.4);
        border-width: 1px;
        margin: 10px 0;
    }

    .ttml-section {
        display: flex;
        padding: 100px 120px;
        align-items: center;

        @media screen and (max-width: 425px) {
            display: none;
        }

        .left {
            width: 50%;
        }

        .right {
            width: 50%;
        }

        .left.image-container {
            padding-right: 50px;
        }

        .right.image-container {
            padding-left: 50px;
        }

        .text-container {
            font-size: 18px;
            font-weight: bold;
            color: white;
            text-shadow: 1px 1px 1px black;
        }

        .image-container {
            img {
                width: 100%;
            }
        }
    }

    .ttml-section-small {
        display: none;
        padding: 50px 40px;

        @media screen and (max-width: 425px) {
            display: block;
        }

        .text-container {
            font-size: 18px;
            font-weight: bold;
            color: white;
            text-shadow: 1px 1px 1px black;
        }

        .image-container {
            padding-bottom: 20px;

            img {
                width: 100%;
            }
        }
    }
}