<app-navbar></app-navbar>
<div class='ttml-banner'>
<div>
    <div class="para-header">Kangen Water Is Globally Changing Lives</div>
    <div class="para-header-2">
        Below are some testimonials people have shared after we helped them acquire their Kangen Water Machine. 
        They are now passionate Global Enagic Distributors, spreading the word about the positive changes Kangen Water 
        has brought into their lives. Feel free to contact them for your FREE Trial of Kangen Water or any info on the 
        health benefits and global distributorship of Kangen Water.
    </div>
</div>
</div>
<div class="main-container">
    <div class="ttml-section sec-1">
        <div class="left image-container">
            <img src="https://drive.google.com/uc?export=view&id=164hpmlt7zY4xz4NdZ9GYPqttEy5GEvBx">
        </div>
        <div class="right text-container">
            <div>
                "After only a few days drinking Kangen Water, my family and myself could feel super hydrated and sleep peacefully 
                despite a long tiring day. And during my holidays in Dubai where I had to drink bottled water, I realized that Kangen 
                water is much lighter to drink and has a much more pleasant taste. I also noticed pimples on my face and my skin 
                turned dry. These were remedied as soon I resumed with Kangen water, upon my return to Mauritius. Kangen water has 
                definitely changed our lives. It's the best investment that I could have ever made so far"
            </div>
            <div style="text-align: right;">- Mamta (<em>Mauritius</em>)</div>
        </div>
    </div>
    <div class="ttml-section-small sec-1">
        <div class="image-container">
            <img src="https://drive.google.com/uc?export=view&id=164hpmlt7zY4xz4NdZ9GYPqttEy5GEvBx">
        </div>
        <div class="text-container">
            <div>
                "After only a few days drinking Kangen Water, my family and myself could feel super hydrated and sleep peacefully 
                despite a long tiring day. And during my holidays in Dubai where I had to drink bottled water, I realized that Kangen 
                water is much lighter to drink and has a much more pleasant taste. I also noticed pimples on my face and my skin 
                turned dry. These were remedied as soon I resumed with Kangen water, upon my return to Mauritius. Kangen water has 
                definitely changed our lives. It's the best investment that I could have ever made so far"
            </div>
            <div style="text-align: right;">- Mamta (<em>Mauritius</em>)</div>
        </div>
    </div>
</div>