<app-navbar></app-navbar>
<div class='ttml-banner'>
<div>
    <div class="para-header">Kangen Water is Changing Lives</div>
    <div class="para-header-2">
        We have helped many people worldwide acquire their Kangen water machine. Below are some of their testimonials. 
        Feel free to contact them for your free trial of Kangen water.
    </div>
</div>
</div>
<div class="main-container">
    <div *ngFor="let testimonial of testimonials; let i = index; let odd = odd; let even = even" id="{{testimonial.name.toLowerCase().split(' ').join('-')}}">
    <div *ngIf="even">
        <div class="ttml-section">
            <div class="left image-container">
                <img src="{{testimonial.img}}">
            </div>
            <div class="right text-container">
                <div>
                    <p *ngIf='testimonial.header != ""'><b>{{testimonial.header}}</b></p>
                    <p *ngIf='testimonial.para1 != ""'>"{{testimonial.para1}}</p>
                    <p *ngIf='testimonial.para2 != ""'>{{testimonial.para2}}</p>
                    <p *ngIf='testimonial.para3 != ""'>{{testimonial.para3}}"</p>
                </div>
                <div style="float: right">
                    <div style="text-align: left;">
                        <div><b>- {{testimonial.name}} (<em>{{testimonial.place}}</em>)</b></div>
                        <div><b>{{testimonial.email}}</b></div>
                        <div><b>{{testimonial.phone}}</b></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="odd">
        <div class="ttml-section">
            <div class="left text-container">
                <div>
                    <p *ngIf='testimonial.header != ""'><b>{{testimonial.header}}</b></p>
                    <p *ngIf='testimonial.para1 != ""'>"{{testimonial.para1}}</p>
                    <p *ngIf='testimonial.para2 != ""'>{{testimonial.para2}}</p>
                    <p *ngIf='testimonial.para3 != ""'>{{testimonial.para3}}"</p>
                </div>
                <div style="float: right">
                    <div style="text-align: left;">
                        <div><b>- {{testimonial.name}} (<em>{{testimonial.place}}</em>)</b></div>
                        <div><b>{{testimonial.email}}</b></div>
                        <div><b>{{testimonial.phone}}</b></div>
                    </div>
                </div>
            </div>
            <div class="right image-container">
                <img src="{{testimonial.img}}">
            </div>
        </div>
    </div>
    <div class="ttml-section-small">
        <div class="image-container">
            <img src="{{testimonial.img}}">
        </div>
        <div class="text-container">
            <div>
                <p *ngIf='testimonial.header != ""'><b>{{testimonial.header}}</b></p>
                <p *ngIf='testimonial.para1 != ""'>"{{testimonial.para1}}</p>
                <p *ngIf='testimonial.para2 != ""'>{{testimonial.para2}}</p>
                <p *ngIf='testimonial.para3 != ""'>{{testimonial.para3}}"</p>
            </div>
            <div>
                <div><b>- {{testimonial.name}} (<em>{{testimonial.place}}</em>)</b></div>
                <div><b>{{testimonial.email}}</b></div>
                <div><b>{{testimonial.phone}}</b></div>
            </div>
        </div>
    </div>
    <hr *ngIf="i < testimonials.length - 1" class="separator">
    </div>
</div>