/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

$base-font-family: "Nunito Sans";
$base-font-size: 16px;
$primary-color: "";
$secondary-color: "";

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 18px;
    height: 18px;
    -webkit-animation: spin 1.5s linear infinite; /* Safari */
    animation: spin 1.5s linear infinite;
}
  
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

body {
	font-family: $base-font-family;
	font-size: $base-font-size;
	background-color: $primary-color;
	margin: 0;
	padding: 0 18%;
    // background: url('https://images.unsplash.com/photo-1518837695005-2083093ee35b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
    background: url(src/assets/images/bg_main.jpg) top center no-repeat fixed;

	@media screen and (max-width: 425px) {
        padding: 0;
	}

    a {
        color: black;

        &:hover {
            text-decoration: none;
        }
    }

	a, button {
		&:hover {
			cursor: pointer;
		}
	}


	button {
		border: none;
        border-radius: 3px;

        &:hover {
            box-shadow: 0 0 5px grey;
        }
	}

    input, textarea {
        border-radius: 3px;
    }
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

	.dropdown-toggle::after {
		display: none;
	}

	.dropdown-menu {
		border-radius: 2px;
		min-width: 120px;
		padding: 4px 0;

		div {
			padding: 4px 10px;
		}
	}

	.para-header {
		font-size: 32px;
        font-weight: bold;
        line-height: 36px;

        @media screen and (max-width: 425px) {
            font-size: 30px;
        }
    }

    .para-header-1 {
		font-size: 26px;
        font-weight: bold;

        @media screen and (max-width: 425px) {
            font-size: 24px;
        }
	}

	.para-header-2 {
		font-size: 20px;
        font-weight: bold;
        line-height: 24px;
    }

    .para {
        font-size: 16px;

        @media screen and (max-width: 425px) {
            font-size: 16px;
        }
    }

	video[poster] {
		object-fit: fill;
	}
}
